.input_group {
  position: relative;
  margin: 2rem 0;
}
.input {
  border: solid 1.5px #1a73e8;
  width: 100%;
  background: #fff;
  color: black;
  border-radius: .5rem;
  padding: .7em 0 .7rem .7rem;
  font-size: 16px;
}
.user_label {
  position: absolute;
  left: 15px;
  color: black;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
  font-size: 14px;
  transform: translateY(-1.5rem);
}
.span {
  position: absolute;
  left: 15px;
  color: black;
  font-weight: bold;
  pointer-events: none;
  font-size: 14px;
  transform: translateY(-1.5rem);
}
.option {
  color: black;
}
.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
}
@media (min-width: 760px) {
  .input_group {
    margin: 0;
  }
  .input {
    padding: .8rem 0 .8rem .8rem;
    font-size: 18px;
  }
  .user_label {
    transform: translateY(-1.5rem);
  }
}
