.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 100%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 100%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 100%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-front img {
  border-radius: 100%;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flip-card-back {
  background-color: #07a0c3;
  color: white;
  transform: rotateY(180deg);
  font-size: 18px;
  line-height: 25px;
}
@media (min-width: 760px) {
  .flip-card {
    height: 250px;
    width: 250px;
  }
}