button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #07a0c3;
    z-index: 1;
    background: #fff;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 750ms;
    overflow: hidden;
    cursor: pointer;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgba(7, 161, 195, 0.39);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 750ms
   }
   
   button:hover {
    color: #07a0c3;
   }
   
   button:hover::before {
    width: 100%;
   }