.home {
  background-color: #D8D2CB;
  padding-bottom: 8.5rem;
}
.destaques {
  margin-bottom: 5rem;
}
@media (min-width: 760px) {
  .destaques {
    margin: 1rem 0 5rem 0;
  }
}
@media (min-width: 1100px) {
  .destaques {
    margin: 10rem 0 5rem 0;
  }
}

