.container__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07a0c3;
  height: 5rem;
}
.container__logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.logo {
  width: 45px;
  height: 45px;
  margin-left: 1rem;
}
.cabecalho__titulo {
  display: none;
  font-family: Indie;
}

.nav__ul {
  background-color: #07a1c3e0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.open {
  transition: transform 0.5s ease-in-out;
  transition-duration: 0.5s;
  transform: translateX(100%);
}
.close {
  transition: transform 0.5s ease-in-out;
  transition-duration: 0.5s;
  transform: translateX(0);
}
@media (min-width: 768px) {
  .container__logo {
    width: 30%;
  }
  .cabecalho__titulo {
    display: block;
    width: 70%;
    color: #fff;
    text-align: center;
    font-size: 30px;
  }
  .logo {
    width: 60px;
    height: 60px;
    margin: 0 0 .5rem;
  }
  .nav__container {
    width: 50%;
  }
  .nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    right: 100%;
    height: 100%;
  }
  .open,
  .close {
    transition: none;
  }
}
