@font-face {
    font-family: "Indie Flower";
    src: url("../../assets/fonts/IndieFlower-Regular.ttf");
}


@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Indie+Flower&family=Permanent+Marker&display=swap');

.container{
    background-color:#07a0c3;
    height:700px;
    width: 100%;
    position: absolute;
    bottom:0px;
    right: 0px;
    color:#ffffff;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap:2rem;     

}

.container__info,.container__contato{
    width: fit-content;
}

.container__info ul,.container__contato ul{
    list-style: none;
    line-height: 1.75rem;
}


.container__info li:first-child,.container__contato li:first-child{
    font-weight: bold;
}

.logo{
    width: 150px;
}

.container__logo{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.container__endereco p{
    line-height: 3rem;
}

.container__social{
    position: relative;
}

.copyrights{
    font-size:0.9rem
}






.social__links{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 9rem;
    list-style:none;

}

.social__links img{
    width: 30px;
    cursor:pointer;
}

.mapa{
    position: static;
    width: 250px;
    height:150px;

}

@media (min-width:700px){

    .container{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows:1fr 1fr
    }

    .container__endereco p{
        line-height: 1.5rem;
    }

    .mapa{
        width: 350px;
        height:250px;
    }
    




}


